%h1 Account
%hr
.row
  .col-3
    = render 'accounts/navigation'
  .col-9
    %h3 Subscribe
    %p
      = "Your #{@account.plan_name} trial ends in #{distance_of_time_in_words(Time.current, @account.current_period_end)}. Subscribe now and billing will begin then."
    %p
      = "You have #{@account.active_users.count} #{'active member'.pluralize(@account.active_users.count)}, so your monthly cost is #{number_to_currency(@account.plan_amount * @account.active_users.count / 100)}"
    .row
      .col-7
        = render 'card_form', locals: { path: subscriptions_path, method: 'patch' }
