%nav.navbar.navbar-expand-sm.navbar-light.bg-light.navbar-fixed-top
  = link_to 'Brand', '/', class: 'navbar-brand'
  %button.navbar-toggler{type: 'button', data: { toggle: 'collapse', target:'#nav_loggedin' }}
    %span.navbar-toggler-icon
  #nav_loggedin.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item= link_to 'Dashboard', dashboard_path, class: 'nav-link'
      - if current_accounts_user.has_role? :admin
        %li.nav-item= link_to 'Account', accounts_path, class: 'nav-link'
    %ul.navbar-nav.ml-auto
      .li.nav-item.dropdown
        = link_to avatar(current_user, :md), '#', {class: 'dropdown-toggle', 'data-toggle': 'dropdown', role: 'button', 'aria-haspopup': true, 'aria-expanded': false}
        .dropdown-menu.dropdown-menu-right
          = link_to 'Profile', edit_user_registration_path, class: 'dropdown-item'
          = link_to 'Super Admin', admin_root_path, class: 'dropdown-item' if current_user.super_admin?
          .dropdown-divider
          = link_to "Stop Impersonating", admin_stop_impersonating_path, class: 'dropdown-item' if current_user != true_user
          = link_to 'Sign out', main_app.destroy_user_session_path, class: 'dropdown-item'
