%nav.navbar.navbar-expand-sm.navbar-light.bg-light.navbar-fixed-top
  - if current_user.accounts.size > 1
    .dropdown
      %button#account_switch.btn.btn-link.dropddown-toggle.navbar-brand{ type: 'button', data: { toggle: 'dropdown' } }
        = current_account.name
        = icon(:'angle-down')
      .dropdown-menu{'aria-labelledby': 'account_switch'}
        %h6.dropdown-header Switch Accounts
        - current_user.accounts.except(current_account).each do |account|
          = link_to account.name, dashboard_url(subdomain: account.subdomain), class: 'dropdown-item'
  - else
    = link_to current_account.name, '/', class: 'navbar-brand'
  %button.navbar-toggler{type: 'button', data: { toggle: 'collapse', target:'#nav_loggedin' }}
    %span.navbar-toggler-icon
  #nav_loggedin.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item= link_to 'Dashboard', dashboard_path, class: 'nav-link'
      - if current_accounts_user.public_has_role? :admin
        %li.nav-item= link_to 'Account', accounts_path, class: 'nav-link'
    %ul.navbar-nav.ml-auto
      .li.nav-item.dropdown
        = link_to avatar(current_user, :md), '#', {class: 'dropdown-toggle', 'data-toggle': 'dropdown', role: 'button', 'aria-haspopup': true, 'aria-expanded': false}
        .dropdown-menu.dropdown-menu-right
          = link_to 'Profile', edit_user_registration_path, class: 'dropdown-item'
          = link_to 'Super Admin', admin_root_path, class: 'dropdown-item' if current_user.super_admin?
          .dropdown-divider
          = link_to "Stop Impersonating", admin_stop_impersonating_path, class: 'dropdown-item' if current_user != true_user
          = link_to 'Sign out', main_app.destroy_user_session_path, class: 'dropdown-item'
