%nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-fixed-top
  - if current_account.present?
    = link_to current_account.name, '/', class: 'navbar-brand'
  - else
    = link_to 'Brand', '/', class: 'navbar-brand'
  %button.navbar-toggler{type: 'button', data: { toggle: 'collapse', target:'#navbar_loggedout' }}
    %span.navbar-toggler-icon
  #nav_loggedout.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      - unless current_account.present?
        %li.nav-item
          = link_to 'Pricing', pricing_path, class: 'nav-link'
        %li.nav-item
          = link_to 'About', about_path, class: 'nav-link'
    .form
      = link_to 'Join', account_new_path, class: 'btn btn-success' if Flipper.enabled?(:public_registration)
      = link_to 'Sign in', new_user_session_path, class: 'btn btn-primary'
