%h1 Create a new workspace
= simple_form_for @account do |a|
  %h3 Account Details
  = a.input :plan_id, collection: @plans, selected: @plans.last.id
  %small.form-text.text-muted You can change this at any time.
  %hr
  = a.input :name, label: 'Account Name', autofocus: true
  = a.input :subdomain
  %hr
  = a.simple_fields_for :owner do |o|
    %h3 Admin Details
    = o.simple_fields_for :user do |u|
      = u.input :email, required: true
      .row.form-group
        .col-6
          = u.input :first_name, required: true
        .col-6
          = u.input :last_name, required: true
      - min_pword_string = @minimum_password_length ? "Password (#{@minimum_password_length} characters minimum)" : 'Password'
      = u.input :password, label: min_pword_string, autocomplete: 'new-password'
  .actions
    = a.submit "Begin your free trial", class: 'btn btn-success btn-block'
