%h1 Account
.row
  .col-12
    = render 'navigation'
    %h3.mt-3.mb-3
      All Members
      = link_to icon(:'envelope-o') + ' Invite New Members', new_user_invitation_path, class: 'btn btn-success pull-right'
    %p= raw "You are the <strong>owner</strong> of this workspace" if current_accounts_user.owner?

    - if @members.any?
      .list-group.list-group-flush
        - @members.each do |member|
          .list-group-item
            .media
              = avatar(member, :lg, {class: 'mr-3'})
              .media-body
                .row
                  .col-8
                    %h5.mt-0= member.full_name
                    %p= member.email
                  .col-4.text-right
                    - user_label = member.accounts_user(current_account).owner? ? 'Owner' : 'Member'
                    .dropdown
                      = button_tag raw(user_label), id: "dropdown_actions_#{member.id}", class: 'btn btn-light dropdown-toggle', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false }
                      .dropdown-menu.dropdown-menu-right{ aria: { labelledby: "dropdown_actions_#{member.id}" } }
                        = link_to 'Delete', '#delete', class: 'dropdown-item'
